.ui-hygrid {
    background:#ddd;
    border:1px solid #ccc;
}
.ui-hygrid-caption {
    border:0 none;
    font-size:60%;
    padding:6px;
    text-align:left;
}
.ui-hygrid table {
    margin:0;padding:0;
    background:#ddd;
}
.ui-hygrid table thead th {
    font-size:70%;
    font-weight:normal;
    white-space:nowrap;
    text-align:left;
    color:#555;
    background-color:ThreeDFace;
    border-width:1px;
    border-color:ThreeDHighlight  ThreeDShadow ThreeDShadow ThreeDLightShadow;
    border-style:solid;
    padding:4px;
    overflow-x:hidden;
}
.ui-hygrid table thead th:last-child {
    border-right:0;
}

.ui-hygrid table thead th.ui-sortable {
    cursor:pointer;
}
.ui-hygrid table thead th.ui-sortable div {
    margin-right:16px; /* We don't want cols label to overlap the sort button */
}
.ui-hygrid table thead th .ui-icon {
    float:right;
    height:15px;
    width:15px;
}
/*.ui-icon .ui-icon-triangle-2-n-s {}*/
.ui-hygrid table tbody {}
.ui-hygrid table tbody tr {}
.ui-hygrid table tbody tr td {
    background-color:ThreeDHighlight;
    font-size:80%;
    font-weight:normal;
    color:ButtonText;
    border:0;
    border-right:1px solid InactiveBorder;
    padding:4px;
}
.ui-hygrid table tbody tr.odd td {
    background-color:ThreeDLightShadow;
}
.ui-hygrid table tbody tr.ui-selected td {
    background-color:#def;
}
.ui-hygrid table tfoot td {
    border-top:1px solid ThreeDShadow;
    font-size:12px;
    padding:2px 4px;
}
.ui-hygrid-p-colhider {
}
.ui-hygrid-p-colhider .ui-icon-gridmenu {
    width:10px;
    height:10px;
    display:block;
    background:transparent url(images/colhider.png) no-repeat 50% 50%;
}
.ui-hygrid-p-colhider-menu {
    margin:0;padding:0;
    position:absolute;
    font-size:70%;
    font-weight:normal;
    background-color:ThreeDFace;
    color:ButtonText;
    border-width:1px;
    border-color:ThreeDHighlight  ThreeDShadow ThreeDShadow ThreeDLightShadow;
    border-style:solid;
    padding:4px;
    width:120px;
}
ul.ui-hygrid-p-colhider-menu li {
    margin:0!important;
    list-style:none!important;
    list-style-type:none!important;
    border:1px solid ThreeDFace;
}
.ui-hygrid-p-colhider-menu li.ui-state-hover {
    border-color:ThreeDShadow;
}

.ui-hygrid-p-colhider-menu li label {
    display:block;
    height:20px;
    line-height:2.4em;
}
.ui-hygrid-p-colhider-menu li label input {
    float:left;
}
